header, main section {
    text-align: center;
}

html{


    font: 20px Arial, sans-serif;
}

h1, h2{
    font-variant: small-caps;
}

figcaption{
    
    font-weight: bold;
    font-family: small-caps;
    font-size: 0.8rem; 

}

q{
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
    font-size: 1.2rem;
}

footer p{
    font-size: 0.8rem;
}

body{
    width: 90%;
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #90a0fd, #e8eff3, #1eeb5b);
}

header, footer {
    text-align: center;
    background: linear-gradient( to right,#f6efe9, #f79022);
}


main section {
    text-align: center;
    padding: 10px; 
    background-color: hsla(213, 65%, 32%, 0.3);
}


blockquote#bio {
    text-align: left;
}


img.main-section-figure {
    display: block;
    margin: 0 auto;
    padding: 10px; 
}


figure.main-section-figure {
    padding: 10px; 
    margin: 20px 0; 
    text-align: center;
    width: 500px;
    margin: 0 auto;
}


blockquote#quote q {
    padding: 10px; 
}

iframe {
    padding: 10px;
}

header, footer{
    border: 2px solid #020e5d;
}
img.main-section-figure {

    display: block;
    margin: 0 auto;
    width: 50%;
    border: 2px solid black;
    padding: 5px;

   
}

figure#relative-path-image {
    
    border: 2px solid rgb(4, 7, 63); 
    border-radius: 20px; 
    padding: 5px;
    box-shadow: 5px 5px 5px #1f055d;
    background-color: hsla(210, 88%, 73%, 0.626);
    width: 600px;
    height: 400px;

    
}



figure#absolute-path-image {
    border: 2px solid rgb(14, 14, 16); 
    border-radius: 20px; 
    padding: 20px;
    box-shadow: 5px 5px 5px #030c4d;
    background-color: hsla(210, 88%, 73%, 0.626);
    width: 500px;
    height: 350px;

}

iframe, video {
    border: 2px solid rgb(14, 14, 16); 
    border-radius: 20px; 
    box-shadow: 5px 5px 5px #050f51;
    background-color: hsla(210, 88%, 73%, 0.626);

}

blockquote#quote{
    padding: 10px; 

}

blockquote#quote q {
    border: 2px solid #030e54; 
    border-radius: 10px; 
    box-shadow: 5px 5px 5px #111d6d; 
    background-color: hsla(210, 88%, 73%, 0.626);

}

figure#relative-path-image figcaption{
    color: rgb(4, 4, 86)

}
figure#absolute-path-image figcaption {
    color: rgb(4, 4, 78); 
}

h1, h2 {
    color: rgb(3, 3, 86); 
}
